<!DOCTYPE html>

<html>
    <head>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <title>SignUp/Login</title>
        
        <link href="/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/resources/css/style.css" rel="stylesheet" type="text/css">
        <script src="/resources/js/jquery-3.1.1.min.js" type="text/javascript"> </script>
        <script src="/resources/bootstrap/js/bootstrap.min.js" type="text/javascript"> </script>
        <script src="/resources/js/script.js" type="text/javascript"></script>
        <script>
            var register = function() {
            var username = document.getElementById('su-yourname').value;
            var email = document.getElementById('su-email').value;
            var password = document.getElementById('su-password').value;
            var phone = document.getElementById('su-phone').value;
            var role;
            if(document.getElementById('su-r1').checked) {
                role = 'personal';
            } else {
                role = 'business';
            }
            var xhr = new XMLHttpRequest();
            var url = window.location.host+ '/api/user/createUser';
            var params = `username=${username}&email=${email}&password=${password}&phone=${phone}&role=${role}`;
            xhr.open("POST", url, true);
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                if(xhr.readyState === 4 && xhr.status === 200){
                    console.log(aaa);
                }
            }
            xhr.send(params);
            }

        </script>
        
    </head>
    <body>
        <!-- header -->
        <%- include('partition/header.ejs') %>
        <%- include('partition/message.ejs') %>

        <!-- Sign Up/Login Tab -->
        <div id="signupLoginTab" class="well">
            <ul class="nav nav-tabs nav-pills nav-justified">
                <li class="signupTab active"><a data-toggle="tab" href="#signup">Sign Up</a></li>
                <li class="loginTab" ><a data-toggle="tab" href="#login">Login</a></li>
            </ul>
            <div class="tab-content">
                <div id="signup" class="signupTab tab-pane fade in active">
                    <form action="/api/user/createUser" method="POST" role="form">
                        
                        <br> <br>
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" id="su-yourname" placeholder="Your username" required="required" name="username">
                        </div>
                        <div class="form-group">
                            <label >Email</label>
                            <input type="email" class="form-control" id="su-email" placeholder="Your Email" required="required" name="email">
                        </div>
                        <div class="form-group">
                            <label >Password</label>
                            <input type="password" class="form-control" id="su-password" placeholder="Password" required="required" name="password">
                        </div>
                        <div class="form-group">
                            <label >Phone number</label>
                            <input type="number" min='0' class="form-control" id="su-phone" placeholder="Phone number" required="required" name="phone">
                        </div>
                        <button id="registerBtn" type="submit" class="btn btn-success" >Register</button>
                    </form>
                </div> 

                <div id="login" class=" loginTab tab-pane fade">
                    <br> <br>
                    <form action="/api/user/login" method="POST" role="form">
                        
                        <div class="form-group">
                            <label for="">Username</label>
                            <input type="text" class="form-control" id="" placeholder="Your username" required="required" name="username">
                        </div>
                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="password" class="form-control" id="" placeholder="Password" required="required" name="password">
                        </div>
                        <br>
                        <button id="loginBtn" type="submit" class="btn btn-success">Log In</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Tab -->
    </body>

    <% if(!isSignup) { %>
        <script>
            $('#signup').removeClass("in");
            $('#login').addClass("in");
            $('.signupTab').removeClass("active");
            $('.loginTab').addClass("active");
        </script>
    <% } %>

</html>