body{
	/* background: url(../images/background.jpg) top no-repeat; */
	padding-top: 80px;
    margin: 5px;
	min-height: 1000px;
	
}

#searchText {
	width: 260px;

}

#signupLoginTab {
	width: 500px;
	height: 500px;
	margin: auto;
	border: 1px solid green;
	border-radius: 7px;
}
.radioBtn {
	color: red;
	font-size: 16px;
}

#registerBtn ,#bRegisterBtn , #loginBtn {
	height: 50px;
}

.content {
	
	margin-left: 100px;
	margin-right: 100px;

}

#auctionbg {
	height: 270px;
	width: 1320px;
	margin: auto;
	border: 1px solid gray;

}

h3 {
	font-weight: bold;
	color: red;
}

h4 {
	font-weight: bold;
}

.navLeft {
	border: 1px solid gray;
	border-left-width: 0px;
	/* border-bottom-width: 0px; */
}

.selectCategoryMenu li a.cName {
	font-weight: bold;
	color: brown;
}



.img-display {

	height: 300px;
	width: 350px;
	border-radius: 10px;
}

.productPreview {
	border-radius: 10px;
	height: 520px;
}

.btnDetail {
	width: 300px;
	
}

.textPreview {
	height: 80px;
}

/* .imgPreview {
	width: 500px;
	height: 500px;
} */

.productPreviewDetail {
	border-radius: 10px;
	height: 400px;
	background-position: center center;
    background-size: cover;
}

.productPreviewDetail img {	
	height: 400px;
	width: 400px;
	border-radius: 10px;
	
}

#productDetail8 hr {
	border: 0.7px solid #AAAAAA;
}
/* .stars {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
} */

.starRating div {
	display: inline-block;
	/* margin-bottom: 5px; */
}

#sellerInfo {
	background-color:white  ;
	height: 300px;
	border-radius: 10px;
	
	/* box-shadow: 5px 5px 5px #888888; */
	box-shadow:  0px 2px 5px 5px #BDBDBD;
}

.bidPlace {
	margin-top: 10px;
	padding: 30px;
	height: 150px;
	background-color: #BBBBBB;
	color: white;
	box-shadow: 0px 2px 5px 5px #D1CFCF;
	border-radius: 10px;
	border: 1px solid gray;
	font-size: 20px;
}

.bidPlace a {
	color: violet ;
	text-decoration: underline;
	display: inline-block;
}

#currentBid {
	color: red;
	font-size: 25px;
}
.itemTitle {
	font-weight: bold;
	display: inline-block;
}

#inputBid {
	width: 300px;
}
.btnBid {
	width: 150px;
	height: 40px;
}