<!-- Header -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        
        <img src="resources/images/logoBK.png" alt="logo" class="logo img-responsive" width="30px" height="45px">
        <div class="navbar-header">
            
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navCollapse" >
                
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <a class="navbar-brand" href="/">BK Auction</a>
        </div>
        <ul class="nav navbar-nav navbar-collapse collapse navCollapse">
            <li><a href="#">About</a></li>
            <li><a href="#">Help & Contact</a></li>
        </ul>
        <form class="navbar-form navbar-left navbar-collapse collapse navCollapse">
            <div class="input-group">
                <input type="text" class="form-control" id="searchText" placeholder="Search">
                <div class="input-group-btn" onclick="return searchText()">
                    <button class="btn btn-default">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Nav right -->
            <ul class="nav navbar-nav navbar-right navbar-collapse collapse navCollapse">
                <li style="display:<%if(login) {%> none <%}%>"><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li style="display:<%if(login) {%> none <%}%>"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li style="display:<%if(!login) {%> none <%}%>"><a href="/userInfo">Hi: <%-username%></a></li>
                <li class="dropdown" style="display:<%if(!login) {%> none <%}%>"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> My Account<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="glyphicon glyphicon-open" href="/sellNewProduct"> SellNewProduct</a></li>
                        <li><a class="glyphicon glyphicon-cog" href="/userInfo"> PersonalSetting</a></li>
                        <li><a class="glyphicon glyphicon-tag" href="/manageSales"> ManageSales</a></li>
                        <li><a class="glyphicon glyphicon-shopping-cart" href="/managePurchases"> ManagePurchases</a></li>
                        <li id="logout1"><a class="glyphicon glyphicon-log-out" href="/api/user/logout"> LogOut</a></li>
                    </ul>
                </li>
            </ul>

        <!-- End nav right -->

    </div>
</nav>
<!-- End header -->
<script>
    var searchText = function() {
        var text = document.getElementById('searchText').value;
        window.location.href = `/searchText?text=${text}`;
        return false;
    }
</script>