<% if (message.length >0) { %>
    <!-- Message modal -->
    <div class="modal fade" id="modal-message">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Message From BKAuction:</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <%= message %>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Message modal -->

    <script>
        $('#modal-message').modal('show')
        setTimeout(function () {
            $('#modal-message').modal('hide')
        }, 3000);
    </script>

<% } %>