body{
	/* background: url(../images/background.jpg) top no-repeat; */
	padding-top: 80px;
    margin: 5px;
	min-height: 1000px;
	
}

#searchText {
	width: 300px;

}

#signupLoginTab {
	width: 440px;
	height: 500px;
	margin: auto;
	border: 1px solid green;
	border-radius: 7px;
}
.radioBtn {
	color: red;
	font-size: 16px;
}

#registerBtn ,#bRegisterBtn , #loginBtn {
	height: 50px;
}

/* #login form div input {
	width: 360px;
} */



h3 {
	font-weight: bold;
	color: red;
}

h4 {
	font-weight: bold;
}

.navLeft {
	border: 1px solid gray;
	border-left-width: 0px;
	/* border-bottom-width: 0px; */
}

.navLeft hr {
	
	border: 0.7px solid #5E0202;
}

.carousel-inner{
    max-height: 360px;
}


.selectCategoryMenu li a.cName {
	font-weight: bold;
	color: brown;
}



.img-display {

	height: 270px;
	max-width: 600px;
	border-radius: 10px;
	width:100%;
}

.productPreview {
	border-radius: 10px;
	max-height: 520px;
	padding: 5px;
}

.btnDetail {
	width: 1000px;
	max-width: 100%;
	
}

.textPreview {
	height: 70px;
	color: red;
	
}

#timeLeft {
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
}

/* .imgPreview {
	width: 500px;
	height: 500px;
} */

.productPreviewDetail {
	border-radius: 10px;
	height: 400px;
	background-position: center center;
    background-size: cover;
}

.productPreviewDetail img {	
	height: 400px;
	width: 400px;
	border-radius: 10px;
	
}

#productDetail8 hr {
	border: 0.7px solid #AAAAAA;
}
/* .stars {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
} */

.starRating div {
	display: inline-block;
	/* margin-bottom: 5px; */
}

.logo  {
	position: absolute;
}
.navbar-header {
	padding-left: 50px;
}

#sellerInfo {
	background-color:white  ;
	height: 300px;
	border-radius: 10px;
	
	/* box-shadow: 5px 5px 5px #888888; */
	box-shadow:  0px 2px 5px 5px #BDBDBD;
	padding: 10px;
}

#sellerInfo ul li {
	margin-left: -35px;
	/* font-size: 14px; */
}

/* #sellerInfo a {
	display: inline-block;
} */

p.feedback {
	color: green;
	font-size: 18px;
	margin-top: 40px;
}

p#sellerAcc {
	/* color: #0026FF; */
	font-weight: bold;
	font-style: italic;
	float: right;
	margin-top: 10px;
	position: relative;
	/* display: inline-block; */
}

.stars {
	color: #BEBE06;	
}

.verifedimg {
	display: inline-block;
	width: 70px;
	height: 70px;
	position: absolute;
	/* margin-top: -50px; */
	/* margin-left: 180px; */
}

#numStars {
	color: #FFFB00;
}


.bidPlace {
	margin-top: 10px;
	padding: 30px;
	height: 150px;
	background-color: #BBBBBB;
	color: white;
	box-shadow: 0px 2px 5px 5px #D1CFCF;
	border-radius: 10px;
	border: 1px solid gray;
	font-size: 20px;
}

.bidPlace a {
	color: violet ;
	text-decoration: underline;
	display: inline-block;
}

#currentBid {
	color: red;
	font-size: 25px;
}
.itemTitle {
	font-weight: bold;
	display: inline-block;
}

#inputBid {
	width: 300px;
}
.btnBid {
	width: 150px;
	height: 40px;
}


#information {
	font-size: 30px;
	
}

.nameTitle {
	color: red ;
}